*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 52%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #02081F; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: 'ProductSans'; }

.heading-paragraph {
  color: #fff; }
  .heading-paragraph--sub {
    display: inline-block;
    font-size: 1.8rem;
    width: 40%;
    line-height: 2rem; }
    @media (max-width: 56.25em) {
      .heading-paragraph--sub {
        font-size: 3.5rem;
        width: 100%; } }
  .heading-paragraph--span {
    color: #fff;
    font-size: 1.8rem;
    opacity: .5;
    line-height: 3.5rem; }
    @media (max-width: 75em) {
      .heading-paragraph--span {
        font-size: 2rem;
        width: 100%; } }
  .heading-paragraph--span-clear {
    color: #fff;
    font-size: 1.8rem;
    opacity: 1;
    line-height: 3.5rem; }
    @media (max-width: 75em) {
      .heading-paragraph--span-clear {
        font-size: 2rem;
        width: 100%; } }

.heading-main {
  color: #fff;
  margin-bottom: 3rem; }
  .heading-main--sup {
    display: block;
    font-weight: 700;
    font-size: 6rem; }
    @media (max-width: 56.25em) {
      .heading-main--sup {
        font-size: 8vw; } }
    @media (max-width: 37.5em) {
      .heading-main--sup {
        font-size: 5rem; } }
  .heading-main--sub {
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 6rem;
    opacity: .5; }
    @media (max-width: 56.25em) {
      .heading-main--sub {
        font-size: 8vw; } }
    @media (max-width: 37.5em) {
      .heading-main--sub {
        font-size: 5rem; } }

.heading-secondary {
  color: #fff;
  font-weight: 700;
  font-size: 3.8rem;
  display: inline-block; }

.heading-primary {
  color: #fff;
  font-weight: 400;
  font-size: 2.4rem; }
  .heading-primary--sub {
    color: #fff;
    font-weight: 600;
    font-size: 2.4rem; }

.heading-tertiary {
  font-weight: 500;
  font-size: 3rem;
  font-family: 'ProductSans'; }

.horizontal-line {
  display: inline-block;
  width: 20%;
  opacity: .5;
  height: 0rem;
  border-top: 0.5px solid #BAFF00;
  margin-left: 2rem; }
  @media (max-width: 75em) {
    .horizontal-line {
      display: none; } }

@font-face {
  font-family: 'ProductSans';
  src: url("../../fonts/ProductSans-Thin.woff") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'ProductSans';
  src: url("../../fonts/ProductSans-Light.woff") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ProductSans';
  src: url("../../fonts/ProductSans-Regular.woff") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProductSans';
  src: url("../../fonts/ProductSans-Medium.woff") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ProductSans';
  src: url("../../fonts/ProductSans-Bold.woff") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ProductSans';
  src: url("../../fonts/ProductSans-Black.woff") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SFMono';
  src: url("../../fonts/SFMonoLight.woff") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SFMono';
  src: url("../../fonts/SFMonoRegular.woff") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFMono';
  src: url("../../fonts/SFMonoMedium.woff") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SFMono';
  src: url("../../fonts/SFMonoSemibold.woff") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SFMono';
  src: url("../../fonts/SFMonoBold.woff") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'SFMono';
  src: url("../../fonts/SFMonoHeavy.woff") format("truetype");
  font-weight: 800;
  font-style: normal; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-align-text-center {
  text-align: center; }

.color-secondary {
  color: #BAFF00;
  opacity: 1; }

.w-half {
  width: 50%; }

.w-quater {
  width: 25%; }

.w-3-quater {
  width: 75%; }

.w-1-third {
  width: 33.33%; }

.w-2-third {
  width: 66.66%; }

.w-1-fifth {
  width: 20%; }

.w-2-fifth {
  width: 40%; }

.w-3-fifth {
  width: 60%; }

.w-4-fifth {
  width: 80%; }

@media (max-width: 56.25em) {
  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; } }

.about__content-box {
  width: 85%;
  line-height: 2rem; }

.about__para {
  display: block;
  width: 100%; }

.about__list {
  list-style: none;
  color: #fff;
  opacity: .5; }
  @media (max-width: 56.25em) {
    .about__list {
      margin-bottom: 2rem; } }

.about__items {
  padding-left: 3rem;
  position: relative; }
  .about__items:not(:last-child) {
    margin-bottom: 2rem; }

.about__items-text {
  font-size: 1.8rem; }
  @media (max-width: 56.25em) {
    .about__items-text {
      font-size: 2rem; } }

.about__items-span {
  width: .7rem;
  height: .7rem;
  border: 0.1rem solid #BAFF00;
  border-radius: 10%;
  display: inline-block;
  position: absolute;
  left: 1rem;
  top: .9rem; }
  @media (max-width: 56.25em) {
    .about__items-span {
      font-size: 3rem;
      width: 1.4rem;
      height: 1.4rem;
      height: .7rem;
      width: .7rem;
      top: .5rem; } }

.about__image-con {
  width: 100%;
  position: relative;
  z-index: 1;
  top: -6rem; }
  .about__image-con::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 110%;
    top: -5%;
    left: 5%;
    z-index: -4;
    display: inline-block;
    border: 0.1rem solid #BAFF00;
    opacity: 0; }
  .about__image-con:hover::after {
    opacity: 1; }
  .about__image-con:hover .about__image {
    filter: grayscale(0); }

.about__image {
  width: 80%;
  filter: grayscale(100%);
  z-index: -1; }

.button {
  display: inline-block;
  color: #BAFF00;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'SFMono'; }
  @media (max-width: 37.5em) {
    .button {
      font-size: 1.5rem; } }
  .button:link, .button:visited {
    border: 0.1rem solid #BAFF00;
    padding: 1rem 2rem;
    text-align: center; }
  .button--overlay {
    position: relative; }
    .button--overlay::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #fff;
      background-color: #BAFF00;
      opacity: 0; }
    .button--overlay:hover {
      border: .1rem solid transparent; }
    .button--overlay:hover::before {
      opacity: 0.1; }
  .button--big {
    min-width: 15rem; }

.feature-box {
  color: #fff; }
  @media (max-width: 56.25em) {
    .feature-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0rem; } }
  .feature-box__con {
    border: 0.1rem solid #BAFF00;
    padding: 4rem;
    transition: transform .3s; }
    @media (max-width: 56.25em) {
      .feature-box__con {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-left: auto;
        margin-right: auto !important;
        display: block; } }
    @media (max-width: 56.25em) {
      .feature-box__con {
        width: 100%; } }
    .feature-box__con:hover {
      transform: translateY(-1.5rem); }
  .feature-box__row {
    margin-left: 10rem; }
    @media (max-width: 56.25em) {
      .feature-box__row {
        margin-left: 0rem; } }

.form {
  font-family: 'SFMono';
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 56.25em) {
    .form {
      width: 100%; } }
  .form__group {
    display: block; }
  .form__input {
    width: 100%;
    font-size: 1.8rem;
    font-family: inherit;
    color: #fff;
    padding: 1.5rem 2rem;
    background-color: #02081F;
    border-bottom: 0.1rem solid #BAFF00;
    border-top: none;
    border-left: none;
    border-right: none;
    display: block;
    opacity: 0.5;
    margin-bottom: 4rem; }
    @media (max-width: 37.5em) {
      .form__input {
        font-size: 1.5rem; } }
    .form__input:focus {
      outline: none;
      color: #fff;
      opacity: 1; }
  .form__btn {
    margin: auto; }

@media (max-width: 56.25em) {
  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0rem; } }

.work__img {
  width: 100%;
  transition: all .3s; }
  @media (max-width: 75em) {
    .work__img {
      width: 100%;
      height: 32rem; } }
  @media (max-width: 56.25em) {
    .work__img {
      width: 100%;
      max-width: 400px;
      height: auto;
      margin: 0 auto;
      display: block; } }
  .work__img:hover {
    transform: scale(1.05); }

.work__box {
  display: flex;
  align-content: space-between;
  height: 100%;
  width: 100%; }

.work__col {
  border: 0.1rem solid #BAFF00;
  background-color: transparent;
  padding: 3.7rem;
  position: relative;
  color: #fff;
  cursor: pointer; }
  @media (max-width: 75em) {
    .work__col {
      width: 100%;
      height: 32rem; } }
  @media (max-width: 56.25em) {
    .work__col {
      width: 100%;
      max-width: 400px;
      height: auto;
      margin-left: auto;
      margin-right: auto !important;
      display: block; } }
  .work__col-primary {
    font-weight: 500;
    font-size: 3rem; }
    .work__col-primary--sub {
      font-weight: 600;
      font-size: 1.8rem; }
  .work__col-paragraph {
    font-size: 1.8rem;
    font-family: 'SFMono';
    line-height: 2.5rem;
    opacity: .5; }
  .work__col path {
    stroke: #BAFF00; }
  .work__col:hover {
    border: .1rem solid transparent;
    color: #BAFF00; }
    .work__col:hover path {
      stroke: #fff; }
  .work__col::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #BAFF00;
    opacity: 0; }
  .work__col:hover::before {
    opacity: 0.1; }

.work__link-img {
  width: 100%; }

.work__link {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  display: inline-block; }

.work__row {
  margin-left: 5rem; }
  @media (max-width: 56.25em) {
    .work__row {
      margin-left: 0rem; } }

.footer__con {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer__paragraph {
  display: inline-block;
  width: inherit;
  color: #fff;
  opacity: 1; }

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #fff; }
  @media (max-width: 75em) {
    .footer__link:link, .footer__link:visited {
      display: inline-block; } }

.footer__link:hover, .footer__link:active {
  text-decoration: underline; }

.row {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 75em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 75em) {
    .row {
      max-width: 99rem;
      padding: 0 3.2rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 100%; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100%; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        margin-right: 0;
        margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc((100% -  6rem) / 2); }
    @media (max-width: 56.25em) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
    @media (max-width: 56.25em) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 6rem) / 5); }
  .row .col-2-of-5 {
    width: calc(2 * ((100% - 4 * 6rem) / 5) + 6rem); }
  .row .col-3-of-5 {
    width: calc(3 * ((100% - 4 * 6rem) / 5) + 2 * 6rem); }
  .row .col-4-of-5 {
    width: calc(4 * ((100% - 4 * 6rem) / 5) + 3 * 6rem); }

.header {
  background-color: #02081F;
  width: 100%; }
  .header__link:link, .header__link:visited {
    color: #BAFF00;
    text-decoration: none;
    opacity: 1;
    font-size: 1.8rem; }
    @media (max-width: 75em) {
      .header__link:link, .header__link:visited {
        width: 100%; } }
  .header__link:hover, .header__link:active {
    opacity: .5; }
  .header__flex {
    display: flex;
    align-items: center;
    height: 95vh; }
    @media (max-width: 37.5em) {
      .header__flex {
        align-items: flex-start;
        margin-top: 15vh; } }

.navigation {
  background-color: #02081F;
  height: 5vh; }
  .navigation__row {
    margin-bottom: 0rem !important; }
  .navigation__nav {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding: 3rem 0; }
    @media (max-width: 75em) {
      .navigation__nav {
        width: 100%;
        justify-content: center; } }
  .navigation__list {
    list-style: none;
    text-align: right; }
  .navigation__item {
    display: inline-block;
    margin: 0 1.5rem;
    font-size: 1.8rem; }
    .navigation__item:nth-child(-n+2) {
      margin-right: 5rem; }
    @media (max-width: 37.5em) {
      .navigation__item {
        font-size: 1.5rem; } }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #BAFF00;
    display: inline-block; }
  .navigation__link:active, .navigation__link:hover {
    opacity: .5; }
  .navigation__image {
    width: 2.2rem; }
    @media (max-width: 37.5em) {
      .navigation__image {
        width: 1.5rem; } }

.section-about {
  background-color: #02081F; }

.section-work {
  margin-bottom: 8rem; }
