*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #02081F; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.heading-paragraph {
  color: #fff;
  font-size: 2.4rem; }
  @media (max-width: 75em) {
    .heading-paragraph {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-paragraph {
      font-size: 1.5rem; } }
  .heading-paragraph--sub {
    display: inline-block;
    width: 40%; }
    @media (max-width: 75em) {
      .heading-paragraph--sub {
        font-size: 3rem;
        width: 100%; } }
    @media (max-width: 37.5em) {
      .heading-paragraph--sub {
        font-size: 1.5rem; } }
  .heading-paragraph--span {
    color: #fff;
    font-size: 2.4rem;
    opacity: .5; }
    @media (max-width: 75em) {
      .heading-paragraph--span {
        font-size: 3rem;
        width: 100%; } }
    @media (max-width: 37.5em) {
      .heading-paragraph--span {
        font-size: 1.5rem; } }

.heading-main {
  color: #fff;
  font-weight: 700;
  font-size: 6rem;
  font-family: sans-serif; }
  @media (max-width: 37.5em) {
    .heading-main {
      font-size: 3rem; } }
  .heading-main--sub {
    color: #fff;
    font-weight: 700;
    font-size: 6rem;
    font-family: sans-serif;
    opacity: .5; }
    @media (max-width: 37.5em) {
      .heading-main--sub {
        font-size: 3rem; } }

.heading-secondary {
  color: #fff;
  font-weight: 700;
  font-size: 3.8rem;
  font-family: sans-serif;
  display: inline-block; }

.heading-primary {
  color: #fff;
  font-weight: 400;
  font-size: 2.4rem;
  font-family: Arial, Helvetica, sans-serif; }
  .heading-primary--sub {
    color: #fff;
    font-weight: 600;
    font-size: 2.4rem;
    font-family: Arial, Helvetica, sans-serif; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

@media (max-width: 75em) {
  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; } }

.about__col {
  width: 100%; }

.about__para {
  display: block;
  width: 100%; }

.about__list {
  list-style: none;
  color: #fff;
  font-size: 2.4rem;
  opacity: .5; }
  @media (max-width: 75em) {
    .about__list {
      font-size: 3rem;
      margin-bottom: 3rem; } }
  @media (max-width: 37.5em) {
    .about__list {
      font-size: 1.5rem; } }

.about__items {
  padding-left: 3rem;
  position: relative; }
  .about__items:not(:last-child) {
    margin-bottom: 2rem; }

.about__items-span {
  width: .7rem;
  height: .7rem;
  border: 0.1rem solid #BAFF00;
  border-radius: 10%;
  display: inline-block;
  position: absolute;
  left: 1rem;
  top: .9rem; }
  @media (max-width: 75em) {
    .about__items-span {
      font-size: 3rem;
      width: 1.4rem;
      height: 1.4rem;
      height: .7rem;
      width: .7rem;
      top: .5rem; } }

.about__image-con {
  width: 100%;
  position: relative;
  z-index: 1;
  top: -6rem; }
  .about__image-con::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 110%;
    top: -5%;
    left: 5%;
    z-index: -4;
    display: inline-block;
    border: 0.1rem solid #BAFF00;
    opacity: 0; }
  .about__image-con:hover::after {
    opacity: 1; }
  .about__image-con:hover .about__image {
    filter: grayscale(0); }

.about__image {
  width: 80%;
  filter: grayscale(100%);
  z-index: -1; }
  .about__image:hover {
    filter: grayscale(0); }

.button {
  display: block;
  color: #BAFF00;
  text-decoration: none;
  font-size: 2.4rem; }
  @media (max-width: 75em) {
    .button {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .button {
      font-size: 1.5rem; } }
  .button:link, .button:visited {
    border: 0.1rem solid #BAFF00;
    padding: 1rem;
    width: 20%;
    text-align: center; }
    @media (max-width: 75em) {
      .button:link, .button:visited {
        width: 30%; } }
    @media (max-width: 37.5em) {
      .button:link, .button:visited {
        width: 50%; } }
  .button--overlay {
    position: relative; }
    .button--overlay::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #fff;
      background-color: #BAFF00;
      opacity: 0; }
    .button--overlay:hover {
      border: .1rem solid transparent;
      font-weight: 600; }
    .button--overlay:hover::before {
      opacity: 0.1; }

@media (max-width: 75em) {
  .feature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0rem; } }

.feature-box__con {
  border: 0.1rem solid #BAFF00;
  padding: 4rem;
  transition: transform .3s; }
  @media (max-width: 75em) {
    .feature-box__con {
      width: 100%; } }
  .feature-box__con:hover {
    transform: translateY(-1.5rem); }

.feature-box__row {
  margin-left: 10rem; }
  @media (max-width: 75em) {
    .feature-box__row {
      margin-left: 0rem; } }

.form__group {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-content: center; }

.form__input {
  font-size: 2.4rem;
  font-family: inherit;
  color: #fff;
  padding: 1.5rem 2rem;
  background-color: #02081F;
  border-bottom: 0.1rem solid #BAFF00;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 80%;
  display: block;
  opacity: 0.5; }
  @media (max-width: 75em) {
    .form__input {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .form__input {
      font-size: 1.5rem; } }
  .form__input:focus {
    outline: none;
    color: #fff;
    opacity: 1; }

.form__btn {
  margin: auto; }

@media (max-width: 75em) {
  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0rem; } }

.work__img {
  width: 100%; }

.work__span {
  display: inline-block;
  width: 20%;
  opacity: .5;
  height: 0rem;
  border-top: 0.5px solid #BAFF00;
  margin-left: 2rem; }
  @media (max-width: 75em) {
    .work__span {
      display: none; } }

.work__flex {
  display: flex;
  align-content: space-around;
  text-align: left;
  flex-direction: column;
  height: 100%;
  width: 100%; }

.work__box {
  display: flex;
  align-content: space-between;
  height: 100%;
  width: 100%; }

.work__col {
  border: 0.1rem solid #BAFF00;
  background-color: transparent;
  padding: 4rem;
  position: relative;
  color: #fff;
  cursor: pointer; }
  .work__col-primary {
    font-weight: 400;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif; }
    .work__col-primary--sub {
      font-weight: 600;
      font-size: 2.2rem;
      font-family: Arial, Helvetica, sans-serif; }
  .work__col-paragraph {
    font-size: 2.2rem;
    opacity: .5; }
  .work__col path {
    stroke: #BAFF00; }
  .work__col:hover {
    border: 0;
    color: #BAFF00; }
    .work__col:hover path {
      stroke: #fff; }
  .work__col::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #BAFF00;
    opacity: 0;
    color: #BAFF00; }
  .work__col:hover::before {
    opacity: 0.1; }

.work__link-img {
  width: 100%; }

.work__link {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  display: inline-block; }

.work__row {
  margin-left: 5rem; }
  @media (max-width: 75em) {
    .work__row {
      margin-left: 0rem; } }

.footer__con {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer__paragraph {
  display: inline-block; }

.footer__link:link, .footer__link:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #fff; }
  @media (max-width: 75em) {
    .footer__link:link, .footer__link:visited {
      font-size: 3rem;
      display: inline-block; } }
  @media (max-width: 37.5em) {
    .footer__link:link, .footer__link:visited {
      font-size: 1.5rem; } }

.footer__link:hover, .footer__link:active {
  text-decoration: underline; }

.row {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 75em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 100%;
      padding: 0; } }
  @media (max-width: 75em) {
    .row {
      max-width: 100%;
      padding: 0 3.2rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    @media (max-width: 75em) {
      .row [class^="col-"] {
        width: 100%; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 75em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0rem; } }
    @media (max-width: 75em) {
      .row [class^="col-"] {
        margin-right: 0;
        margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc((100% -  6rem) / 2); }
    @media (max-width: 75em) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
    @media (max-width: 75em) {
      .row .col-1-of-3 {
        width: 100%; } }

.header {
  background-color: #02081F;
  width: 100%; }
  .header__link:link, .header__link:visited {
    color: #BAFF00;
    text-decoration: none;
    opacity: 1;
    font-size: 2.4rem; }
    @media (max-width: 75em) {
      .header__link:link, .header__link:visited {
        font-size: 3rem;
        width: 100%; } }
    @media (max-width: 37.5em) {
      .header__link:link, .header__link:visited {
        font-size: 1.5rem; } }
  .header__link:hover, .header__link:active {
    opacity: .5; }
  .header__flex {
    display: flex;
    justify-content: center;
    height: 95vh;
    flex-direction: column; }

.navigation {
  background-color: #02081F; }
  .navigation__row {
    margin-bottom: 0rem !important; }
  .navigation__nav {
    margin-left: auto;
    width: 35%;
    padding: 2rem 0; }
    @media (max-width: 75em) {
      .navigation__nav {
        width: 100%;
        display: flex;
        justify-content: center; } }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    display: inline-block;
    margin: 1rem;
    font-size: 2.4rem; }
    @media (max-width: 75em) {
      .navigation__item {
        font-size: 2.5rem;
        margin: 1.5rem; } }
    @media (max-width: 37.5em) {
      .navigation__item {
        font-size: 1.5rem; } }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #BAFF00;
    display: inline-block; }
  .navigation__link:active, .navigation__link:hover {
    opacity: .5; }
  .navigation__image {
    width: 2.4rem; }
    @media (max-width: 75em) {
      .navigation__image {
        width: 3.5rem; } }
    @media (max-width: 37.5em) {
      .navigation__image {
        width: 1.5rem; } }

.section-about {
  background-color: #02081F; }

.section-work {
  margin-bottom: 8rem; }
