.about {

  @include respond(tab-land) {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }



  &__col {
    width: 100%;
  }

  &__para {
    display: block;
    width: 100%;
  }

  &__list {
    list-style: none;
    color: $color-white;
    font-size: 2.4rem;
    opacity: .5;

    @include respond(tab-land) {
      font-size: 3rem;
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      font-size: 1.5rem;
    }

  }

  &__items {
    padding-left: 3rem;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  
  &__items-span {
    width: .7rem;
    height: .7rem;
    border: .1rem solid $color-secondary;
    border-radius: 10%;
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: .9rem;

    @include respond(tab-land) {
      font-size: 3rem;
      width: 1.4rem;
      height: 1.4rem;
      height: .7rem;
      width: .7rem;
      top: .5rem;

    }

  }

  &__image-con {
    width: 100%;
    // height: 20%;
    // padding: 4rem;
    position: relative;
    z-index: 1;
    top: -6rem;

    &::after {
      content: "";
      // padding: 8rem 0;
      position: absolute;
      width: 70%;
      height: 110%;
      top: -5%;
      left: 5%;
      // right: 21rem;
      z-index: -4;
      display: inline-block;
      border: .1rem solid $color-secondary;
      opacity: 0;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
      .about__image {
        filter: grayscale(0);
      }
    }
  }



  &__image {
    width: 80%;
    // height: 20%;
    filter: grayscale(100%);
    z-index: -1;

    &:hover {
      filter: grayscale(0);

    }
  }
}