.feature-box {


  @include respond(tab-land) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0rem;
  }

  &__con {
    border: .1rem solid $color-secondary;
    padding: 4rem;
    transition: transform .3s;

    @include respond(tab-land) {
      width: 100%;
    }

    &:hover {
      transform: translateY(-1.5rem);
    }
  

  }
  &__row {
    margin-left: 10rem;

    @include respond(tab-land) {
      margin-left: 0rem;
    }
  }

}

