.form {
  &__group {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    background-color: $color-primary;
    border-bottom: .1rem solid $color-secondary;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    display: block;

    &:focus {
      outline: none;
      color: $color-white;
    }
  }

  &__btn {
    margin: auto;
  }
}