.form {

  font-family: 'SFMono';
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @include respond(tab-port) {
    width: 100%;
    // object-fit: cover;
  }

  &__group {
    display: block;
    
  }

  &__input {
    width: 100%;
    font-size: 1.8rem;
    font-family: inherit;
    color: $color-white;
    padding: 1.5rem 2rem;
    background-color: $color-primary;
    border-bottom: .1rem solid $color-secondary;
    border-top: none;
    border-left: none;
    border-right: none;
    display: block;
    opacity: 0.5;
    margin-bottom: 4rem;

    @include respond(tab-land) {
      // font-size: 3rem;
    }

    @include respond(phone) {
      font-size: 1.5rem;
    }

    &:focus {
      outline: none;
      color: $color-white;
      opacity: 1;
    }
  }

  &__btn {
    margin: auto;
  }
}