*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; // 9px
  }

  @include respond(tab-port) {
    font-size: 52%; // 8px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 12px
  }
}

body {
  box-sizing: border-box;
  background-color: $color-primary;

  @include respond(tab-port) {
    padding: 0;
  }
}
