.row {
  max-width: $grid-width;
  margin: 0 auto;
  padding: 0 3.2rem;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-land) {
      margin-bottom: $gutter-vertical-small;
    } 
  }

  @include respond(phone) {
    max-width: 100%;
    padding: 0;
  }

  @include respond(tab-land) {
    max-width: 100%;
    padding: 0 3.2rem;
  } 

  @include clearfix;

  [class^="col-"] {
    float: left;

    @include respond(tab-land) {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: $gutter-horizontal; 

      @include respond(tab-land) {
        margin-right: 0rem;
      }
    }

    @include respond(tab-land) {
      margin-right: 0;
      margin-bottom: $gutter-vertical-small;
    }  
  }

  .col-1-of-2 {
    width: calc((100% -  #{$gutter-horizontal}) / 2);
    @include respond(tab-land) {
      width: 100%;
    }

  }

  .col-1-of-3 {
    width:  calc((100% - 2 * #{$gutter-horizontal}) / 3);
    @include respond(tab-land) {
      width: 100%;
    }

  }

  .col-1-of-5 {
    width: calc((100% - 4 * #{$gutter-horizontal}) / 5);
  }

  .col-2-of-5 {
    width: calc(2 * ((100% - 4 * #{$gutter-horizontal}) / 5) + #{$gutter-horizontal});
  }

  .col-3-of-5 {
    width: calc(3 * ((100% - 4 * #{$gutter-horizontal}) / 5) + 2 * #{$gutter-horizontal});
  }

  .col-4-of-5 {
    width: calc(4 * ((100% - 4 * #{$gutter-horizontal}) / 5) + 3 * #{$gutter-horizontal});
  }
}