.header {
  background-color: $color-primary;
  width: 100%;

  &__link {
    &:link,
    &:visited {
      color: $color-secondary;
      text-decoration: none;
      opacity: 1;
      font-size: 1.8rem;

      @include respond(tab-land) {
        //font-size: 3rem;
        width: 100%;
      }

      @include respond(phone) {
        font-size: 1.5rem;
      }
    }

    &:hover,
    &:active {
      opacity: .5;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    height: 90vh;
    // flex-direction: column;
  }
}
