.header {
  background-color: $color-primary;
  width: 100%;

  &__link {
    &:link,
    &:visited {
      color: $color-secondary;
      text-decoration: none;
      opacity: 1;
      font-size: 1.5rem;
    }

    &:hover,
    &:active {
      opacity: .5;
    }
  }

  &__flex {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }
}
